In [51]:
np.set_printoptions(threshold=np.inf, linewidth=np.inf)

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [11]:
import pymysql
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.layers import MaxPool2D
from keras.utils import to_categorical
import matplotlib.pyplot as plt
import cv2
from sklearn.model_selection import train_test_split
import math
from IPython.display import Image

2022-12-02 16:18:52.770678: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [70]:
connection = pymysql.connect(host='192.168.0.6',
                             user='srj',
                             password='encore7302',
                             database='CNN',
                             cursorclass=pymysql.cursors.DictCursor,
                            charset="utf8")

cur = connection.cursor()

In [71]:
S = os.listdir('./RSP_TrainData_Kaggle/scissors/')
R = os.listdir('./RSP_TrainData_Kaggle/paper/')
P = os.listdir('./RSP_TrainData_Kaggle/rock/')

In [78]:
# 


def f1(S, typ) : 
    val = f'"INSERT INTO img1 VALUES(0, 0, {typ},'
    for idx, x in enumerate(S[:1]) :
        src = cv2.imread(f'./RSP_TrainData_Kaggle/scissors/{x}')
        src = cv2.cvtColor(src, cv2.COLOR_RGB2GRAY)
        
#         blur = cv2.GaussianBlur(src, ksize=(3,3), sigmaX=0.0)
#         gap = src-blur
#         src = src + gap
        
        src = cv2.resize(src, dsize=(28, 28), interpolation=cv2.INTER_AREA)
        src = src.flatten()
#         print(src)
        
        for idx2,i in enumerate(src) :
            if idx2 == len(src) :
                val += f" {i}"                
            else :
                val += f" {i},"
        val += ')"'
        print(val)
        cur.execute(val)
        conn.commit()

        
        
# resize
# flatten
# label, 28x28픽셀를 insert로 mysql에 넣는다.

f1(S, 1)

"INSERT INTO img1 VALUES(0, 0, 1, 89, 91, 93, 96, 99, 101, 102, 104, 106, 106, 107, 108, 108, 109, 109, 110, 111, 110, 109, 109, 109, 108, 106, 106, 106, 104, 104, 105, 89, 91, 93, 97, 99, 101, 102, 104, 106, 107, 108, 108, 108, 109, 110, 110, 111, 111, 111, 110, 109, 104, 103, 103, 102, 102, 103, 103, 89, 91, 93, 96, 99, 100, 102, 104, 106, 106, 108, 108, 108, 109, 110, 110, 111, 110, 110, 108, 102, 99, 99, 99, 97, 97, 98, 98, 89, 91, 93, 94, 98, 99, 101, 102, 104, 105, 107, 108, 107, 108, 109, 109, 109, 108, 106, 99, 92, 101, 120, 118, 100, 90, 92, 92, 90, 91, 93, 94, 96, 98, 100, 98, 99, 102, 104, 105, 105, 106, 106, 106, 105, 103, 96, 87, 87, 114, 127, 132, 133, 117, 93, 84, 89, 90, 92, 93, 96, 97, 98, 96, 94, 95, 97, 99, 99, 100, 99, 98, 96, 92, 85, 81, 101, 123, 128, 128, 130, 132, 129, 111, 88, 89, 90, 91, 94, 95, 95, 94, 94, 89, 91, 94, 94, 96, 94, 92, 86, 87, 96, 103, 124, 128, 128, 126, 126, 127, 126, 123, 84, 88, 88, 90, 92, 92, 90, 105, 129, 103, 96, 100, 98, 90, 87, 79, 75, 95, 97, 110, 127, 132, 130, 130, 129, 128, 126, 124, 106, 88, 88, 89, 92, 90, 86, 107, 147, 122, 120, 134, 138, 132, 125, 123, 115, 113, 113, 119, 130, 135, 134, 134, 134, 133, 130, 128, 91, 83, 87, 89, 91, 91, 89, 85, 103, 111, 121, 139, 145, 134, 127, 137, 139, 138, 136, 136, 137, 145, 144, 143, 142, 136, 133, 132, 87, 86, 89, 90, 91, 92, 92, 83, 74, 73, 79, 101, 125, 121, 131, 136, 142, 141, 143, 144, 145, 147, 145, 143, 142, 137, 136, 139, 87, 88, 90, 90, 90, 92, 94, 88, 80, 77, 74, 68, 70, 73, 77, 96, 121, 133, 139, 142, 147, 144, 142, 140, 141, 142, 142, 143, 87, 88, 88, 90, 90, 90, 95, 94, 88, 82, 75, 71, 63, 55, 46, 37, 59, 124, 137, 140, 148, 150, 147, 146, 148, 148, 146, 144, 90, 87, 88, 89, 90, 91, 93, 93, 88, 82, 78, 71, 61, 54, 55, 79, 115, 131, 137, 141, 144, 147, 148, 146, 146, 148, 146, 145, 90, 88, 88, 89, 90, 90, 91, 88, 82, 76, 72, 72, 89, 104, 126, 138, 142, 140, 141, 141, 143, 135, 136, 140, 145, 147, 146, 144, 87, 89, 89, 90, 90, 90, 87, 83, 99, 99, 104, 120, 134, 131, 124, 136, 139, 136, 126, 124, 130, 136, 136, 135, 137, 137, 136, 133, 88, 89, 90, 90, 90, 90, 84, 80, 137, 135, 120, 122, 130, 123, 112, 112, 114, 112, 106, 104, 116, 123, 125, 126, 128, 126, 125, 124, 92, 89, 90, 90, 90, 90, 86, 83, 96, 107, 102, 95, 98, 94, 76, 69, 68, 65, 66, 68, 81, 98, 110, 115, 114, 114, 112, 109, 93, 87, 89, 90, 91, 90, 90, 87, 80, 75, 75, 72, 72, 74, 74, 75, 75, 73, 69, 59, 62, 71, 89, 95, 95, 94, 93, 90, 89, 85, 87, 89, 91, 91, 92, 91, 85, 83, 84, 84, 83, 83, 83, 82, 82, 80, 77, 71, 65, 61, 58, 65, 69, 71, 71, 70, 97, 81, 86, 88, 90, 91, 93, 94, 92, 89, 88, 89, 88, 88, 89, 91, 91, 89, 86, 81, 76, 71, 68, 65, 62, 62, 61, 61, 73, 83, 86, 88, 91, 92, 94, 95, 95, 96, 97, 97, 97, 96, 96, 96, 96, 94, 92, 88, 86, 81, 76, 73, 72, 71, 71, 70, 80, 84, 86, 88, 90, 92, 93, 95, 96, 96, 97, 97, 97, 97, 96, 96, 96, 94, 93, 90, 88, 88, 84, 80, 77, 75, 74, 74, 81, 83, 86, 88, 90, 91, 93, 95, 95, 96, 96, 97, 96, 97, 97, 96, 95, 94, 93, 91, 89, 89, 88, 86, 84, 83, 81, 80, 80, 83, 85, 87, 88, 89, 92, 93, 94, 95, 96, 96, 96, 95, 96, 96, 96, 95, 94, 92, 90, 90, 88, 87, 86, 85, 84, 82, 79, 82, 84, 86, 87, 88, 91, 92, 92, 94, 95, 95, 95, 95, 95, 96, 95, 94, 94, 91, 90, 90, 88, 87, 85, 85, 83, 82, 78, 80, 83, 84, 85, 86, 89, 90, 91, 92, 94, 94, 94, 94, 94, 95, 94, 93, 93, 91, 90, 89, 89, 87, 86, 84, 84, 83, 79, 78, 81, 82, 83, 81, 85, 87, 90, 91, 92, 93, 93, 93, 94, 94, 94, 92, 92, 90, 89, 88, 87, 86, 85, 83, 83, 82,)"

OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 65] No route to host)')

In [21]:
cur.execute("INSERT INTO img1 VALUES( ‘hong’ , ‘홍지윤’ , ‘hong@naver.com’ , 1996)")

AttributeError: 'str' object has no attribute 'shape'