In [1]:
name   = "홍길동"
age    = 30
height = 171.5

In [4]:
print('성  :', name[0])
print('이름:', name[1:])
print('%s의 나이: %d세, 키: %.2fcm' % (name, age, height))

성  : 홍
이름: 길동
홍길동의 나이: 30세, 키: 171.50cm

In [5]:
name = input('학생 이름을 입력하세요:')
kor  = int(input('국어 성적을 입력하세요:'))
eng  = int(input('영어 성적을 입력하세요:'))
math = int(input('수학 성적을 입력하세요:'))
avg  = (kor + eng + math) / 3
print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요:황예린
국어 성적을 입력하세요:83
영어 성적을 입력하세요:85
수학 성적을 입력하세요:91
이름:황예린, 국어:83, 영어:85, 수학:91, 평균:86.3

In [6]:
# 연산자 활용
a = [
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0},
    {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0}
]

In [7]:
# 1번 학생 정보
print(a[0])

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 0, 'avg': 0.0, 'order': 0}

In [8]:
# 1번 학생 총점
print(a[0]['total'])

0

In [9]:
# 1번 학생 총점 변경 -> 1
a[0]['total'] = 1
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 1, 'avg': 0.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 0, 'avg': 0.0, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 0, 'avg': 0.0, 'order': 0}]

In [13]:
# 학생별 총점 업데이트
a[0]['total'] = a[0]['kor'] + a[0]['eng'] + a[0]['math']
a[1]['total'] = a[1]['kor'] + a[1]['eng'] + a[1]['math']
a[2]['total'] = a[2]['kor'] + a[2]['eng'] + a[2]['math']
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 0.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 0.0, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 0.0, 'order': 0}]

In [14]:
# 학생별 평균 업데이트
a[0]['avg'] = a[0]['total'] / 3 
a[1]['avg'] = a[1]['total'] / 3
a[2]['avg'] = a[2]['total'] / 3
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}]

In [19]:
# 학급 평균 구하기
a_avg = sum([a[0]['avg'], a[1]['avg'], a[2]['avg']]) / len(a)
print('학급평균: %.2f점' % a_avg)
# 국어 평균 구하기
a_kor_avg = (a[0]['kor'] + a[1]['kor'] + a[2]['kor']) / len(a)
# 영어 평균 구하기
a_eng_avg = (a[0]['eng'] + a[1]['eng'] + a[2]['eng']) / len(a)
# 수학 평균 구하기
a_math_avg = (a[0]['math'] + a[1]['math'] + a[2]['math']) / len(a)
# 각 과목 평균 소수점 둘째자리까지 확인
print('국어평균: %.2f점, 영어평균: %.2f점, 수학평균: %.2f점' %(a_kor_avg, a_eng_avg, a_math_avg))

학급평균: 84.44점
국어평균: 86.67점, 영어평균: 81.67점, 수학평균: 85.00점

In [ ]:
# order는 나중에 풀어보기

In [23]:
x = int(input('숫자를 입력하세요:'))

if x > 0:
    print('양수!')
else:
    print('0 또는 음수!')

숫자를 입력하세요:0
0 또는 음수!

In [25]:
# money = ?
money = int(input('현재 보유중인 현금:'))

if money >= 5000:
    print('택시를 탄다')
else:
    print('버스를 탄다')

현재 보유중인 현금:4000
버스를 탄다

In [27]:
grade = float(input('평점을 입력하세요:'))

if grade >= 4.3:
    print('장학금 수여 대상')
    print('축하합니다!')

평점을 입력하세요:4.2

In [31]:
num = int(input('숫자를 입력하세요:'))

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자를 입력하세요:30
짝수

In [34]:
su = 9
if su % 2 == 0:
    print(su, '은(는) 짝수이다')
    print('짝짝짝')
else:
    print(su, '은(는) 홀수이다')
    print('홀홀홀')
print('if문 끝')

9 은(는) 홀수이다
홀홀홀
if문 끝

In [36]:
age    = int(input('나이를 입력하세요: '))
height = int(input('키를 입력하세요: '))
if age >= 40:
    if height >= 170:
        print('큰 키')
    else:
        print('보통 키')
else:
    if height >= 175:
        print('큰 키')
    else:
        print('보통 키')

나이를 입력하세요: 38
키를 입력하세요: 171
보통 키

In [42]:
score = int(input('점수를 입력하세요:'))
if score >= 90:
    print('A')
else:
    if score >= 80:
        print('B')
    else:
        if score >= 70:
            print('C')
        else:
            if score >= 60:
                print('D')
            else:
                print('F')

점수를 입력하세요:1
F

In [44]:
score = int(input('점수를 입력하세요:'))
if score   >= 97:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

점수를 입력하세요:55
F

In [48]:
score1 = int(input('필기 성적 입력:'))
score2 = int(input('실기 성적 입력:'))

if score1 >= 80 and score2 >= 80:
    print('합격')
else:
    print('불합격')

필기 성적 입력:70
실기 성적 입력:55
불합격

In [52]:
# 홈페이지 관리자 여부
ID = input('아이디를 입력하세요:')
level = int(input('회원 레벨을 입력하세요:'))

if ID == 'admin' or level == 1:
    print('관리자이다')
else:
    print('관리자가 아니다')

아이디를 입력하세요:aaa
회원 레벨을 입력하세요:2
관리자가 아니다

In [65]:
name = input('이름을 입력하세요:')

if not name:
    print('이름이 입력되지 않았습니다.')
else:
    print('이름: %s' % name)

이름을 입력하세요:
이름이 입력되지 않았습니다.

In [69]:
pay = '3000원'
age = int(input('나이를 입력하세요:'))
if age >= 65 or age < 7:
    pay = '무료'
print('입장료: ', pay)

나이를 입력하세요:65
입장료:  무료

In [71]:
real = '12345'
password = input('비밀번호를 입력하세요:')

if password == real:
    print('비밀번호 OK!')
else:
    print('비밀번호 Not OK!')

비밀번호를 입력하세요:123456
비밀번호 Not OK!

In [76]:
# 월 입력 시 계절 표시
month = int(input('월을 입력하세요:'))
if 3 <= month <= 5:
    print('%d월은 봄입니다' % month)
elif month == 6 or month == 7 or month == 8:
    # month in [6, 7, 8]
    print('%d월은 여름입니다' % month)
elif month >= 9 and month <= 11:
    print('%d월은 가을입니다' % month)
else:
    print('%d월은 겨울입니다' % month)

월을 입력하세요:9
9월은 가을입니다

In [82]:
# 월 입력 시 계절 표시
month = int(input('월을 입력하세요:'))
if 3 <= month <= 5:
    print('%d월은 봄입니다' % month)
if month == 6 or month == 7 or month == 8:
    # month in [6, 7, 8]
    print('%d월은 여름입니다' % month)
if month >= 9 and month <= 11:
    print('%d월은 가을입니다' % month)
if month in [12, 1, 2]:
    print('%d월은 겨울입니다' % month)

월을 입력하세요:9
9월은 가을입니다

In [86]:
seat = input('좌석 종류를 입력해 주세요(1:일반실, 2:특실) :')
seat1 = '일반실'
seat2 = '특실'

if seat == '1':
    print('%s입니다' % seat1)
elif seat == '2':
    print('%s입니다' % seat2)

좌석 종류를 입력해 주세요(1:일반실, 2:특실) :3

In [87]:
seat = input('좌석 종류를 입력해 주세요(1:일반실, 2:특실) :')
seat1 = '일반실'
seat2 = '특실'

if seat == '1':
    print('%s입니다' % seat1)
else:
    print('%s입니다' % seat2)

좌석 종류를 입력해 주세요(1:일반실, 2:특실) :3
특실입니다

In [93]:
char = input('알파벳을 입력하세요:')
char2 = char.upper()

if char2 in ['A', 'E', 'I', 'O', 'U']:
    print('%s은(는) 모음이다' % char)
else:
    print('%s은(는) 자음이다' % char)

알파벳을 입력하세요:f
f은(는) 자음이다

In [99]:
# 세 개의 숫자 중 가장 큰 수 찾기
num1 = int(input('첫 번째 정수 입력:'))
num2 = int(input('두 번째 정수 입력:'))
num3 = int(input('세 번째 정수 입력:'))

if num1 >= num2 and num2 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print('입력된 세 수 %d, %d, %d 중에서 가장 큰 수는 %d이다' % (num1, num2, num3, largest))

첫 번째 정수 입력:1
두 번째 정수 입력:1
세 번째 정수 입력:1
입력된 세 수 1, 1, 1 중에서 가장 큰 수는 1이다

In [105]:
# 고객 만족도 팁 계산
print('''서비스 만족도:
1: 매우만족
2: 만족
3: 불만족 서비스''')
a = input('만족도 입력 (1 또는 2 또는 3) :')
price = int(input('음식값 입력 (예:8000) :'))

if a == '1':
    tip = price * 0.2
    service = '매우만족'
elif a == '2':
    tip = price * 0.1
    service = '만족'
else:
    tip = price * 0.05
    service = '불만족'
    
print('서비스 만족도: %s, 팁: %d원' % (service, tip))

서비스 만족도:
1: 매우만족
2: 만족
3: 불만족 서비스
만족도 입력 (1 또는 2 또는 3) :3
음식값 입력 (예:8000) :10000
서비스 만족도: 불만족, 팁: 500원

In [109]:
now_year    = int(input('현재년:'))
now_month   = int(input('현재월:'))
now_day     = int(input('현재일:'))
birth_year  = int(input('출생년:'))
birth_month = int(input('출생월:'))
birth_day   = int(input('출생일:'))

if birth_month in [1,2,3,4,5,6,7,9,10,11,12]:
    age = now_year - birth_year
elif birth_month == 8:
    if birth_day <= 20:
        age = now_year - birth_year
    else:
        age = now_year - birth_year - 1

print('-' * 30)
print('오늘 날짜: %d년 %d월 %d일' % (now_year, now_month, now_day))
print('생년 월일: %d년 %d월 %d일' % (birth_year, birth_month, birth_day))
print('-' * 30)
print('만 나이: %d세' % age)
print('-' * 30)

현재년:2022
현재월:8
현재일:25
출생년:2000
출생월:8
출생일:25
------------------------------
오늘 날짜: 2022년 8월 25일
생년 월일: 2000년 8월 25일
------------------------------
만 나이: 21세
------------------------------